In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('weatherAUS.csv')

# The goal is to predict whether it will be rain tomorrow or not

In [3]:
# shape of data
df.shape

(142193, 16)

The target columns is 'RainTomorrow'.

In [4]:
# columns types
df.dtypes

Unnamed: 0         int64
MinTemp          float64
MaxTemp          float64
Rainfall         float64
WindGustSpeed    float64
WindSpeed9am     float64
WindSpeed3pm     float64
Humidity9am      float64
Humidity3pm      float64
Pressure9am      float64
Pressure3pm      float64
Temp9am          float64
Temp3pm          float64
RainToday        float64
RISK_MM          float64
RainTomorrow       int64
dtype: object

In [5]:
# get stat info about numerical columns
df.describe()

,Unnamed: 0,MinTemp,MaxTemp,Rainfall,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
count,142193.000000,141556.000000,141871.000000,140787.000000,132923.000000,140845.000000,139563.000000,140419.000000,138583.000000,128179.000000,128212.000000,141289.000000,139467.000000,140787.000000,142193.000000,142193.000000
mean,71096.000000,12.186400,23.226784,2.349974,39.984292,14.001988,18.637576,68.843810,51.482606,1017.653758,1015.258204,16.987509,21.687235,0.223423,2.360682,0.224181
std,41047.727751,6.403283,7.117618,8.465173,13.588801,8.893337,8.803345,19.051293,20.797772,7.105476,7.036677,6.492838,6.937594,0.416541,8.477969,0.417043
min,0.000000,-8.500000,-4.800000,0.000000,6.000000,0.000000,0.000000,0.000000,0.000000,980.500000,977.100000,-7.200000,-5.400000,0.000000,0.000000,0.000000
25%,35548.000000,7.600000,17.900000,0.000000,31.000000,7.000000,13.000000,57.000000,37.000000,1012.900000,1010.400000,12.300000,16.600000,0.000000,0.000000,0.000000
50%,71096.000000,12.000000,22.600000,0.000000,39.000000,13.000000,19.000000,70.000000,52.000000,1017.600000,1015.200000,16.700000,21.100000,0.000000,0.000000,0.000000
75%,106644.000000,16.800000,28.200000,0.800000,48.000000,19.000000,24.000000,83.000000,66.000000,1022.400000,1020.000000,21.600000,26.400000,0.000000,0.800000,0.000000
max,142192.000000,33.900000,48.100000,371.000000,135.000000,130.000000,87.000000,100.000000,100.000000,1041.000000,1039.600000,40.200000,46.700000,1.000000,371.000000,1.000000

In [6]:
# count how many non-null valeus each column has
df.count().sort_values()

Pressure9am      128179
Pressure3pm      128212
WindGustSpeed    132923
Humidity3pm      138583
Temp3pm          139467
WindSpeed3pm     139563
Humidity9am      140419
Rainfall         140787
RainToday        140787
WindSpeed9am     140845
Temp9am          141289
MinTemp          141556
MaxTemp          141871
Unnamed: 0       142193
RISK_MM          142193
RainTomorrow     142193
dtype: int64

explore non numerical columns

In [7]:
# explore columns 'RainToday' and 'RainTomorrow'. They have two unique values: 'Yes' and 'No'.
df['RainToday'].value_counts()

0.0    109332
1.0     31455
Name: RainToday, dtype: int64

In [8]:
# import my modules
import knn
import data_preprocessing

Strategy 1: drop rows with nans

In [ ]:
df=data_preprocessing.delete_nan_rows(df)
df.shape

In [53]:
df.shape

(142193, 16)